{% extends 'base_prelogin.html' %}

{% block title %}CheChat - Login{% endblock title %}
{% block activity_title %}Login{% endblock activity_title %}
{% block current_page_menu %}menu-login{% endblock current_page_menu %}


{% block login_page_container %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend >Log In</legend>
                {{ form.as_p }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Login</button>
            </div>
        </form>
        <div>
            <small class="text-muted">
                Need An Account? <a class="ml-2" href="{% url 'register' %}">Sign Up Now</a>
            </small>
        </div>
    </div>
{% endblock login_page_container %}