.form-group{
    padding: 15px!important;
    border: none!important;
}

.form-group legend{
    color: #272938;
    font-size: 220%;
}

.form-group input[type="text"], .form-group input[type="password"], .form-group input[type="email"]{
    display: block;
    width: 100%;
    height: 40px;
    font-size:18px;
    border: none;
    background: #edf2fe;
    border-radius: 5px;
    padding-left: 20px;
}

.form-group .btn{
    width:80%;
    height: 40px;
    border:none;
    border-radius: 5px;
    background: #508af9;
    color:#fff;
}

.form-group label{
    float: left;
    padding: 5px;
    margin-top: 10px;
}

.form-group .helptext{
    font-size:80%;
    text-align: right;
}

.form-group ul{
    list-style: none;
    text-align: left;
    padding:0;
    font-size:80%;
}

.errorlist{
    color: #e04242;
    font-size:18px;
}

legend{
    font-family: 'Ubuntu', sans-serif;
}
